<div class="row">
    <div class="col-xs-7 col-md-7">
        <p>
            <?= e(trans('indikator.news::lang.form.registered_at')) ?><br>
            <?= $registered_at ?>
        </p>
    </div>
    <div class="col-xs-5 col-md-5">
        <p>
            <?= e(trans('indikator.news::lang.form.ip_address')) ?><br>
            <?= $registered_ip ?>
        </p>
    </div>
    <div class="col-xs-7 col-md-7">
        <p>
            <?= e(trans('indikator.news::lang.form.confirmed_at')) ?><br>
            <?= $confirmed_at ?>
        </p>
    </div>
    <div class="col-xs-5 col-md-5">
        <p>
            <?= e(trans('indikator.news::lang.form.ip_address')) ?><br>
            <?= $confirmed_ip ?>
        </p>
    </div>
    <div class="col-xs-7 col-md-7">
        <p>
            <?= e(trans('indikator.news::lang.form.unsubscribed_at')) ?><br>
            <?= $unsubscribed_at ?>
        </p>
    </div>
    <div class="col-xs-5 col-md-5">
        <p>
            <?= e(trans('indikator.news::lang.form.ip_address')) ?><br>
            <?= $unsubscribed_ip ?>
        </p>
    </div>
</div>
