<div class="row">
    <div class="col-xs-7 col-md-7">
        <p>
            <?= e(trans('indikator.news::lang.form.registered_at')) ?><br>
            <strong><?= $registered_at ?></strong>
        </p>
    </div>
    <div class="col-xs-5 col-md-5">
        <p>
            <?= e(trans('indikator.news::lang.form.ip_address')) ?><br>
            <strong><?= $registered_ip ?></strong>
        </p>
    </div>
    <div class="col-xs-7 col-md-7">
        <p>
            <?= e(trans('indikator.news::lang.form.confirmed_at')) ?><br>
            <strong><?= $confirmed_at ?></strong>
        </p>
    </div>
    <div class="col-xs-5 col-md-5">
        <p>
            <?= e(trans('indikator.news::lang.form.ip_address')) ?><br>
            <strong><?= $confirmed_ip ?></strong>
        </p>
    </div>
    <div class="col-xs-7 col-md-7">
        <p>
            <?= e(trans('indikator.news::lang.form.unsubscribed_at')) ?><br>
            <strong><?= $unsubscribed_at ?></strong>
        </p>
    </div>
    <div class="col-xs-5 col-md-5">
        <p>
            <?= e(trans('indikator.news::lang.form.ip_address')) ?><br>
            <strong><?= $unsubscribed_ip ?></strong>
        </p>
    </div>
</div>
