<div class="row">
    <div class="col-xs-5 col-md-5">
        <p>
            <?= e(trans('indikator.news::lang.menu.posts')) ?><br>
            <strong><?= $posts ?></strong>
        </p>
    </div>
    <div class="col-xs-7 col-md-7">
        <p>
            <?= e(trans('indikator.news::lang.menu.subscribers')) ?><br>
            <strong><?= $subscribers ?></strong>
        </p>
    </div>
    <div class="col-xs-5 col-md-5">
        <p>
            <?= e(trans('indikator.news::lang.button.reorder')) ?><br>
            <strong><?= $sort_order ?></strong>
        </p>
    </div>
    <div class="col-xs-7 col-md-7">
        <p>
            <?= e(trans('indikator.news::lang.form.updated_at')) ?><br>
            <strong><?= $updated_at ?></strong>
        </p>
    </div>
</div>
