<form data-request="onSubscription" data-request-success="alert('Thank you for your subscription to our newsletter!')">
    <div class="form-group">
        <label for="subscribersName">Name</label>
        <input name="name" type="text" class="form-control" id="subscribersName" placeholder="Enter your name">
    </div>

    <div class="form-group">
        <label for="subscribersEmail">Email</label>
        <input name="email" type="email" class="form-control" id="subscribersEmail" placeholder="Enter your email">
    </div>

    <button type="submit" class="btn btn-default">Subscription</button>
</form>