<form data-request="onSubscription" data-request-success="alert('{{ lang('indikator.news::lang.ajax.messages.subscribed') }}')">
    <div class="form-group">
        <label for="subscribersName">{{ lang('indikator.news::lang.form.name') }}</label>
        <input name="name" type="text" class="form-control" id="subscribersName" placeholder="Enter your name">
    </div>

    <div class="form-group">
        <label for="subscribersEmail">{{ lang('indikator.news::lang.form.email') }}</label>
        <input name="email" type="email" class="form-control" id="subscribersEmail" placeholder="Enter your email">
    </div>

    <button type="submit" class="btn btn-default">{{ lang('indikator.news::lang.button.subscribe') }}</button>
</form>
