# ===================================
# Filter Scope Definitions
# ===================================

scopes:

    category:
        label: indikator.news::lang.form.category
        modelClass: Indikator\News\Models\Categories
        nameFrom: name
        scope: FilterCategories

    statistics:
        label: indikator.news::lang.stat.viewed
        type: numberrange
        conditions: statistics >= ':min' and statistics <= ':max'

    last_send_at:
        label: indikator.news::lang.form.last_send
        type: daterange
        conditions: last_send_at >= ':after' AND last_send_at <= ':before'

    published_date:
        label: indikator.news::lang.form.published_at
        type: daterange
        conditions: published_at >= ':after' AND published_at <= ':before'

    status_published:
        label: indikator.news::lang.form.status_published
        type: checkbox
        conditions: status = 1

    status_hide:
        label: indikator.news::lang.form.status_hide
        type: checkbox
        conditions: status = 2

    status_draft:
        label: indikator.news::lang.form.status_draft
        type: checkbox
        conditions: status = 3

    created_date:
        label: indikator.news::lang.form.created_at
        type: daterange
        conditions: created_at >= ':after' AND created_at <= ':before'

    updated_date:
        label: indikator.news::lang.form.updated_at
        type: daterange
        conditions: updated_at >= ':after' AND updated_at <= ':before'
