{% set categories = __SELF__.categories %}

{% for category in categories %}
    {% if loop.first %}
        <ul>
    {% endif %}
            <li>
                <a href="{{ category.url }}">{{ category.name }}</a>
                {% if category.children|length > 0 %}
                    <ul style="margin-left: 0.5rem">
                        {% for category in category.children %}
                            <li>
                                <a href="{{ category.url }}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
    {% if loop.last %}
        </ul>
    {% endif %}
{% else %}
    <span class="post-nodata">{{ noCategoryMessage }}</span>
{% endfor %}
