<div class="report-widget">
    <h3 style="margin-bottom:5px;"><?= e(trans($this->property('title'))) ?></h3>

<?php if (!isset($error)): ?>
    <?php if ($this->property('total')): ?>
    <div class="scoreboard-item title-value pull-left" style="margin:20px 20px 0 0;">
        <h4><?= e(trans('indikator.news::lang.widget.total')) ?></h4>
        <p class="text-center"><?= $total ?></p>
    </div>
    <?php endif ?>

    <?php if ($this->property('active')): ?>
    <div class="scoreboard-item title-value pull-left" style="margin:20px 20px 0 0;">
        <h4><?= e(trans('indikator.news::lang.button.active')) ?></h4>
        <p class="text-center"><?= $active ?></p>
    </div>
    <?php endif ?>

    <?php if ($this->property('inactive')): ?>
    <div class="scoreboard-item title-value pull-left" style="margin:20px 20px 0 0;">
        <h4><?= e(trans('indikator.news::lang.button.inactive')) ?></h4>
        <p class="text-center"><?= $inactive ?></p>
    </div>
    <?php endif ?>

    <?php if ($this->property('draft')): ?>
    <div class="scoreboard-item title-value pull-left" style="margin:20px 0 0 0;">
        <h4><?= e(trans('indikator.news::lang.form.status_draft')) ?></h4>
        <p class="text-center"><?= $draft ?></p>
    </div>
    <?php endif ?>

    <div style="clear:both;"></div>
<?php else: ?>
    <p class="flash-message static warning"><?= e($error) ?></p>
<?php endif ?>
</div>
